aa-exe-icon ICON "icons/app-icon.ico"
name-of-icon-in-rc-file ICON "icons/icon-green.ico"
another-name-from-rc-file ICON "icons/icon-red.ico"
tray-default ICON "icons/app-icon.ico"
battery-00 ICON "icons/battery-00.ico"
battery-10 ICON "icons/battery-10.ico"
battery-20 ICON "icons/battery-20.ico"
battery-30 ICON "icons/battery-30.ico"
battery-40 ICON "icons/battery-40.ico"
battery-50 ICON "icons/battery-50.ico"
battery-60 ICON "icons/battery-60.ico"
battery-70 ICON "icons/battery-70.ico"
battery-80 ICON "icons/battery-80.ico"
battery-90 ICON "icons/battery-90.ico"
battery-99 ICON "icons/battery-99.ico"
